extends layout.pug

block content
	.container
		.row.justify-content-center
			.col
				<form>
					<div class="form-group">
						<label for="inputNombre">Nombre del evento</label>
						<input type="email" class="form-control" id="inputNombre" placeholder="Nombre del evento">
					</div>
					<div class="form-group"> 
						<label for="inputDescripcion">Descripción del evento</label>
						<textarea class="form-control" id="inputDescripcion" placeholder="Descripción"></textarea>
					</div>
					<div class="form-group"> 
						<label for="inputLugar">Lugar</label>
						<input type="text" class="form-control" id="inputLugar" placeholder="Lugar del evento">
					</div>
					<div class="form-group"> 
						<label for="inputFecha">Fecha</label>
						<input type="text" class="form-control" id="inputFecha" placeholder="Fecha del evento">
					</div>
					<div class="form-group"> 
						<label for="inputHora">Hora</label>
						<input type="text" class="form-control" id="inputHora" placeholder="Hora del evento">
					</div>
					<div class="form-group"> 
						<label for="inputUrlImagen">URL de imagen</label>
						<input type="text" class="form-control" id="inputUrlImagen" placeholder="URL de la imagen del evento">
					</div>
					<div class="form-group"> 
						<label for="inputExpositores">Expositores</label>
						<textarea type="text" class="form-control" id="inputExpositores" placeholder="Expositores del evento (separados por salto de línea)"></textarea>
					</div>
					<button id="btnCrearEvento" type="button" onclick="crearEvento()" class="btn btn-primary">Crear evento</button>
				</form>

block scripts
	script(src="/js/admin.js")