extends layout.pug

block content
	.container
		.row.justify-content-center
			.col
				<form>
					<div class="form-group">
						<label for="inputNombre">Nombre del evento</label>
						<input type="email" class="form-control" id="inputNombre" placeholder="Nombre del evento" value="#{evento.nombre}">
					</div>
					<div class="form-group"> 
						<label for="inputDescripcion">Descripción del evento</label>
						<textarea class="form-control" id="inputDescripcion" placeholder="Descripción">#{evento.descripcion}</textarea>
					</div>
					<div class="form-group"> 
						<label for="inputLugar">Lugar</label>
						<input type="text" class="form-control" id="inputLugar" placeholder="Lugar del evento" value="#{evento.lugar}">
					</div>
					<div class="form-group"> 
						<label for="inputFecha">Fecha</label>
						<input type="text" class="form-control" id="inputFecha" placeholder="Fecha del evento" value="#{evento.fecha}">
					</div>
					<div class="form-group"> 
						<label for="inputHora">Hora</label>
						<input type="text" class="form-control" id="inputHora" placeholder="Hora del evento" value="#{evento.hora}">
					</div>
					<div class="form-group"> 
						<label for="inputUrlImagen">URL de imagen</label>
						<input type="text" class="form-control" id="inputUrlImagen" placeholder="URL de la imagen del evento" value="#{evento.imagenUrl}">
					</div>
					<div class="form-group"> 
						<label for="inputExpositores">Expositores</label>
						<textarea type="text" class="form-control" id="inputExpositores" placeholder="Expositores del evento (separados por salto de línea)">#{evento.expositores.join('\n')}</textarea>
					</div>
					<button id="btnCrearEvento" type="button" onclick="modificarEvento()" class="btn btn-primary">Guardar cambios</button>
				</form>

block scripts
	script(src="/js/admin.js")